{% extends "layout.html" %}
{% block body %}
    {% if error %}<p class="notice"><strong>Error:</strong> {{ error }}{% endif %}
    <!-- Messages -->
    <!-- Sub menu -->
        <!--DIV id="submenu">Menu:
            <A class="sub-menu-item current-sub-menu" href="{{ url_for('my_acc') }}">View Account</A> /
            <A class="sub-menu-item" href="{{ url_for('my_acc') }}">Change Password</A> /
            <A class="sub-menu-item" href="{{ url_for('my_acc') }}">Change E-mail</A> /
            <A class="sub-menu-item" href="{{ url_for('my_acc') }}">Change Gender</A> /
            <A class="sub-menu-item" href="{{ url_for('my_acc') }}">Transfer Credits</A> /
            <A class="sub-menu-item" href="{{ url_for('my_acc') }}">Credit Transfer History</A> /
            <A class="sub-menu-item" href="{{ url_for('my_acc') }}">Go to Shopping Cart</A>
        </DIV-->
        <!-- Page menu -->
		<!-- Credit balance -->
        <H2>Guild Info</H2>
        <TABLE class="vertical-table">
          <TBODY>
        {% if guild %}
          <TR>
            <TH>Guild name</TH>
            <TD>{{ guild.1 }}</TD>
            <TH>Guild Emblem</TH>
            {% if guild.7 %}
            <TD><IMG src="{{ url_for('show_guild_icon', gid=guild.0) }}"></TD>
            {% else %}
            <TD><IMG src="/static/img/empty.png"></TD>
            {% endif %}
          </TR>
          <TR>
            <TH>Guildmaster</TH>
            <TD><a href="{{ url_for('show_char', char_id=guild.2) }}">{{ guild.3 }}</a></TD>
            <TH>Members</TH>
            <TD>{{ get_guild_members_count(guild.0) }}</TD>
          </TR>
          <TR>
            <TH>Average Level</TH>
            <TD>{{ guild.5 }}
            </TD>
            <TH>Guild exp</TH>
            <TD>{{ guild.6 }}</TD>
          </TR>
        {% endif %}
        </TBODY>
        </TABLE>
        <H3>Members of {{ guild.1 }} guild</H3>
        {% if chars %}
        <TABLE class="horizontal-table">
              <TBODY>
              <TR>
                <TH>№</TH>
                <TH>Character Name</TH>
                <TH>Job Class</TH>
                <TH>Base Level</TH>
                <TH>Job Level</TH>
                <TH>Online</TH>
            {% for char in chars %}
              <TR>
                <TD align="right">{{ loop.index }}</TD>
                <TD><a href="{{ url_for('show_char', char_id=char.0) }}"><STRONG>{{ char.1 }}</STRONG></a></TD>
                <TD>{{ get_class_name(char.2) }}</TD>
                <TD>{{ char.3 }}</TD>
                <TD>{{ char.4 }}</TD>
                <TD>{% if char.5 %} Online {% else %} Offline{% endif %}</TD>
              </TR>
            {% endfor %}
            </TBODY></TABLE>
        {% else %}
            <P>This guild has no members.</P>
        {% endif %}
{% endblock %}
