{% extends "layout.html" %}
{% block body %}
    <!-- Sub menu -->
        <DIV id="submenu">Menu:
            <A class="sub-menu-item" href="{{ url_for('ranking_char') }}">Character Ranking</A> /
            <A class="sub-menu-item" href="{{ url_for('ranking_guild') }}">char Ranking</A> /
            <A class="sub-menu-item" href="{{ url_for('ranking_zeny') }}">Zeny Ranking</A> /
            <A class="sub-menu-item" href="{{ url_for('ranking_pvp_death') }}">PvP Death Ranking</A> /
            <A class="sub-menu-item current-sub-menu" href="{{ url_for('ranking_pvp_kills') }}">PvP Kills Ranking</A> /
            <A class="sub-menu-item" href="{{ url_for('ranking_woe_death') }}">WoE Death Ranking</A> /
            <A class="sub-menu-item" href="{{ url_for('ranking_woe_kills') }}">WoE Kills Ranking</A>
        </DIV>
        <!-- Page menu -->
        <H2>Character PvP kills Ranking</H2>
        {% if chars %}
        <TABLE class="horizontal-table">
              <TBODY>
              <TR>
                <TH>Rank</TH>
                <TH>Name</TH>
                <TH>Class</TH>
                <TH colspan="2">Guild</TH>
                <TH>Base Level</TH>
                <TH>Job Level</TH>
                <TH>Kills</TH>
                <TH>Deaths</TH></TR>
            {% for char in chars %}
              {% if loop.first %}<TR class="top-ranked" >
              {% else %}<TR>{% endif %}
                <TD align="right">{{ loop.index }}</TD>
                <TD><STRONG><a href="{{ url_for('show_char', char_id=char.0) }}" title="{{ char.1 }}">{{ char.1 }}</a></STRONG></TD>
                <TD>{{ get_class_name(char.2) }}</TD>
                {% if char.2 %}
                <TD width="24"><IMG src="http://brianluau.users.sourceforge.net/demo/fluxcp/guild/emblem/?login=Demo-RO&amp;charmap=Demo-RO&amp;id=7"></TD>
                <TD>{{ get_guild_name(char.3) }}</TD>
                {% else %}
                <TD colspan="2">None</TD>
                {% endif %}
                <TD>{{ char.4 }}</TD>
                <TD>{{ char.5 }}</TD>
                <TD>{{ char.8 }}</TD>
                <TD>{{ char.9 }}</TD>
              </TR>
            {% endfor %}
            </TBODY></TABLE>
        {% else %}
            <P>Currently, there are no chars on {{ app.config['SERVERNAME'] }}.</P>
        {% endif %}
{% endblock %}
