{% extends "layout.html" %}
{% block body %}
    <div id="submenu">
        Menu:
        <a class="sub-menu-item" href="{{ url_for('login') }}">Login</a>
        /
        <a class="sub-menu-item current-sub-menu" href="{{ url_for('registration') }}">Register</a>
        /
        <a class="sub-menu-item" href="{{ url_for('show_main') }}">Reset Password</a>
    </div>
    <h2>Register</h2>
    <p>
        Please read our
        <a href="{{ url_for('show_main') }}">Terms of Service</a>
        (ToS) before registering for an account, to ensure that you understand the rules of holding an account with our private Ragnarok Online game server.
    </p>
    <p>
        <strong>Note:</strong>
        You will need to provide a working e-mail address to confirm your account before you can log-in.
    </p>
    <p>
        <strong>Note:</strong>
        Your password must be between 8 and 31 characters.
    </p>
    <p>
        <strong>Note:</strong>
        Your password must contain at least 1 uppercase letter(s).
    </p>
    <p>
        <strong>Note:</strong>
        Your password must contain at least 1 lowercase letter(s).
    </p>
    <p>
        <strong>Note:</strong>
        Your password must contain at least 1 number(s).
    </p>
    <p>
        <strong>Note:</strong>
        Your password cannot contain your username.
    </p>
    {% if error %}<p class="red" style="font-weight: bold"> {{ error }} </p>{% endif %}
    <form class="generic-form" method="post" action="{{ url_for('registration') }}">
        <input type="hidden" value="{{app.config['SERVERNAME']}}" name="server">
        <table class="generic-form-table">
            <tbody>
                <tr>
                    <th>
                        <label for="register_username">Your Username</label>
                    </th>
                    <td>
                        <input id="register_username" type="text" value="" name="userid">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="register_password">Your Password</label>
                    </th>
                    <td>
                        <input id="register_password" type="password" name="user_pass">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="register_email_address">E-mail Address</label>
                    </th>
                    <td>
                        <input id="register_email_address" type="text" value="" name="email">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label>Gender</label>
                    </th>
                    <td>
                        <p>
                            <label>
                                <input id="register_gender_m" type="radio" value="0" name="sex">
                                Male
                            </label>
                            <label>
                                <input id="register_gender_f" type="radio" value="1" name="sex">
                                Female
                            </label>
                            <strong title="The gender you choose here will affect your in-game character's gender!">?</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div style="margin-bottom: 5px">
                            By clicking "Create My Account", you agree to be bound by our
                            <a href="{{ url_for('show_main') }}">Terms of Service</a>
                            .
                        </div>
                        <div>
                            <button type="submit">
                                <strong>Create My Account</strong>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}
